{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-center" style="margin-top: 15px">
    <div class="row">
        <div class="col-lg-auto text-center">
            <h4 style="text-align: center">Введен неверный код</h4>
            <br>
            <a href="{% url 'code_confirm' %}">
                >>> Ввести код повторно <<<
            </a>
        </div>
    </div>
</div>

{% endblock content %}