{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
{% endblock title %}

{% block content %}

    <h4 style="text-align: center">{{ announcement.title }}<br><br></h4>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-auto text-center">
                <button class="btn btn-info ms-3 me-md-auto" type="button">
                    {% if user != announcement.user %}
                    <a class="nav-link" href="{% url 'respond_create' announcement.id %}">Откликнуться</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'announcement_update' announcement.id %}">Редактировать</a>
                    {% endif %}
                </button>
                {% if user == announcement.user %}
                    <button class="btn btn-danger ms-3 me-md-auto" type="button">
                        <a class="nav-link" href="{% url 'announcement_delete' announcement.id %}">Удалить</a>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <h5 style="padding-left: 20px"><br>{{ announcement.pub_date|date:'d M Y' }}</h5>
    <h5 style="padding-left: 20px">Категория:
        <a href="{% url 'announcements_in_category_list' announcement.category.id %}">
            {{ announcement.category.name }}
        </a>
        <br>
    </h5>
    <hr>
    <h5 style="padding-left: 20px">{{ announcement.text|safe }}</h5>

{% endblock content %}
