{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-auto text-center">
            {% if respond.confirmed == True %}
                <h4 style="padding-left: 20px">Отклик принят</h4>
            {% endif %}
            {% if respond.denied == True %}
                <h4 style="padding-left: 20px">Отклик отклонен</h4>
            {% endif %}
            {% if respond.confirmed == False and  respond.denied == False %}
                <button class="btn btn-success ms-3 me-md-auto" type="button">
                    <a class="nav-link" href="{% url 'respond_accept' respond.id %}">Принять</a>
                </button>
            {% endif %}
            {% if respond.confirmed == False and  respond.denied == False %}
            <button class="btn btn-danger ms-3 me-md-auto" type="button">
                <a class="nav-link" href="{% url 'respond_denied' respond.id %}">Отклонить</a>
            </button>
            {% endif %}
        </div>
    </div>

    <hr>
    <h4 style="padding-left: 20px">{{ respond.user.username }}<br><br></h4>
    <h5 style="padding-left: 20px"><br>{{ respond.respond_date|date:'d M Y' }}<br></h5>
    <h5 style="padding-left: 20px">{{ respond.text }}</h5>

{% endblock content %}
